<ng-container>
    <button (click)="Get500Error()" class="btn btn-outline-primary mr-3">Test 500 Error</button>
    <button (click)="Get400Error()" class="btn btn-outline-primary mr-3">Test 400 Error</button>
    <button (click)="Get401Error()" class="btn btn-outline-primary mr-3">Test 401 Error</button>
    <button (click)="Get404Error()" class="btn btn-outline-primary mr-3">Test 404 Error</button>
    <button (click)="Get400ValidatinError()" class="btn btn-outline-primary mr-3">
        Test 400 Validation Error</button>
</ng-container>